@{
  Layout = "_Layout";
}

@using Dialog.Models;

<div class="options">
  <div class="back-to-feed">
    <a href="/topics/@Model.ThisTopic.Id/0">
      <div class="cta">Back to topic</div>
      <div class="icon"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
    </a>
  </div>
  <form class="search" id="search">
    <div class="InputAddOn-Search">
      <input type="text" class="search-text-input" id="search-text-input" placeholder="Search">
      <span class="InputAddOn-item"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></span>
    </div>
  </form>
  <div class="new-dialog">
    <a href="/topics/@Model.ThisTopic.Id/threads/new">
      <div class="cta">New dialog</div>
      <div class="icon"><i class="fa fa-plus"></i></div>
    </a>
  </div>
</div>

<div class="category">
  <h1>@Model.ThisTopic.Name</h1>
</div>

<div class="original-post-wrap">
  <div class="post-info">
    <div class="author-wrap">
      <img src="@Model.OriginalPost.Avatar" alt="top dog">
    </div>
    <div class="details-wrap">
      <div class="author-name">
        <h3>@Model.OriginalPost.Author</h3>
      </div>
      <div class="stats">
        <p> @(Model.ThisThread.CountPosts() - 1) replies</p>
      </div>
<<<<<<< HEAD
      <div class="time-of-post">
        <p>Posted: 3/7/17 4PM&nbsp;EST</p>
=======
      <div class="time-of-post" value="@Model.OriginalPost.Date">
        <!-- <p>Posted: 3/7/17 <br> 4PM EST</p> -->
>>>>>>> front-end
      </div>
    </div>
  </div>
  <div class="subject-message">
    <h2> @Model.OriginalPost.Subject </h2>
    <pre>@Model.OriginalPost.Message</pre>
  </div>
</div>

<div class="reply-action-wrap">
  <div class="add-reply">
    <div class="reply-input-wrap hide">
      <div class="avatar">
      </div>
      <div class="reply-form" id="reply-form">
        <input type="text" name="author" id="reply-author" value="">
        <input class="reply-input" id="reply-input">
        <button type="button" name="button" class="reply">Reply</button>
      </div>
    </div>
  </div>
  <div class="sort-by hide">
    <h3>Sort by</h3>
    <ul class="hide">
      <li>Most Recent</li>
      <li>Most Helpful</li>
      <li>Oldest</li>
    </ul>
  </div>
</div>

@foreach (Post post in Model.Posts)
{

<div class="reply-wrap">
  <div class="post-info">
    <div class="author-wrap">
      <img src='@post.Avatar' alt="cat wearing goggles">
    </div>
    <div class="details-wrap">
      <div class="author-name">
        <h3>@post.Author</h3>
      </div>
<<<<<<< HEAD
      <div class="time-of-post">
        <p>Posted: 3/7/17 4PM&nbsp;EST</p>
=======
      <div class="time-of-post" value="@post.Date">
>>>>>>> front-end
      </div>
    </div>
  </div>
  <div class="subject-message">
<<<<<<< HEAD
    <h2>Original thread topic goes here</h2>
    <p>
      Lorem ipsum dolor sit amet. This is a change to the second one.
    </p>
  </div>
</div>
=======
    <h2>@post.Subject</h2>
    <pre>@post.Message</pre>
  </div>
</div>
}


<form action="/topics/@Model.ThisTopic.Id/threads/@Model.ThisThread.Id/reply" method="post">
  @Html.Partial("Post")
  <button type="submit" class="btn btn-default btn-wide">Reply</button>
</form>
>>>>>>> front-end
